@model AppTaxi.Models.Carro

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Carro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarroID" />
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotoristaID" class="control-label"></label>
                <select asp-for="MotoristaID" class="form-control" asp-items="ViewBag.MotoristaID"></select>
                <span asp-validation-for="MotoristaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CobradorID" class="control-label"></label>
                <select asp-for="CobradorID" class="form-control" asp-items="ViewBag.CobradorID"></select>
                <span asp-validation-for="CobradorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
