@{ 
    Layout = "/Views/Shared/_LayoutLogin.cshtml";

}
<br />

        <div class="row">
            <div class="col-md-5 offset-md-4">
                <div class="card login-card-body">
                    <div class="card-header">
                        <div class="login-logo">
                            <a href="#"><b>Taxi</b>Pay | Login</a>
                        </div>

                    </div>
                    <div class="login-box">
                        <div class="col-md-12">
                            @RenderBody()

                        </div>

                    </div>

                </div>

            </div>
        </div>
        
        @section Scripts{
            @RenderSection("Scripts", required: false)
        }
